*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.logo{
    width: 150px;
    cursor: pointer;
}


.body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0e0d22;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #860a0a;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.bv{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


  @media (max-aspect-ratio: 16/9){
    .bv{
      width: auto;
      height: 100%;
    }
  }


.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgb(20, 7, 133);
}


.container{
  width: 150px;
  cursor: pointer;
}


.slide{
  height: 50%;
  width: 150px;
  cursor: pointer;
}

.slide .customer-logo-slide{
  width: 50%;
  height: 100vh;

}


